{{> head}}

<body>
    {{> header}}
    <div id="content" class="container">
        <main>
            {{# content }}
            <div class="container text-center">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    <!-- ................................ -->
                    {{# channels }}
                    <div class="card" style="width: 18rem;">
                        <img src='{{ channel_logo }}' class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{ channel_name }} </h5>
                            <p class="card-text">Id: {{ channel_id }}</p>
                            <p class="card-text">Description {{ channel_desc }}</p>
                        </div>
                    </div>
                    {{/ channels }}
                    <!-- ---------------------------------- -->
                </div>
            </div>
            {{/ content }}
        </main>
    </div>
    {{> scripts}}
    {{> footer}}
</body>


</html>