{{> head}}

<body>
    {{> header}}
    <div id="content" class="container">
        <main>
            {{# content }}
            <h3>Check Availability</h3>
            <form action="singleTour" method="POST">
                {{# ratesAuxiliary }}
                <div class="col-md-6">
                    <label for="rate_{{ rate_id }}" class="form-label mb-1">{{# label_1 }} {{label_1}} {{/ label_1 }} {{^ label_1 }} Number of people {{/ label_1 }} 
                        {{# label_2 }} ({{label_2}}) {{/ label_2 }} {{^ label_2 }}  {{/ label_2 }} 
                    </label>
                    <input class="form-control mb-2" id="rate_{{ rate_id }}" type="text" name=postQuery[{{rate_id}}] placeholder="Insert number" aria-label="default input example" required>
                </div>
                {{/ ratesAuxiliary}}
                <div class="col-md-6">
                    <label class="form-label mb-1" for="datePicked">Select a date</label>
                    <input type="date" id="datePicked" name="postQuery[date]" class="form-control mb-2" required>
                </div>
                <input type="hidden" name="postTourId" value="{{ singleTour.tour.tour_id }}">
                <input type="hidden" name="postChannelId" value="{{ singleTour.tour.channel_id }}">
                <input type="hidden" name="postCheckAvailability">
                    <button type="submit" class="btn btn-primary">Check</button>
            </form>

            {{# availability.available_components }}
                <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Departure</th>
                                    <th scope="col">Final price</th>
                                    <th scope="col">Price Breakdown</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{# component}}
                                <form action="formCustomers" method="POST" id="goToCustomerForm_{{component_key}}">
                                    <input type="hidden" name="postChannelId" value="{{availability.channel_id}}">
                                    <input type="hidden" name="postTourId" value="{{availability.tour_id}}">
                                    <input type="hidden" name="postComponentKey" value="{{component_key}}">
                                    <input type="hidden" name="postTotalAmountCustomers" value="{{availability.totalAmountOfCustomers}}">
                                </form> 
                                <tr>
                                    <td>
                                       <p>{{ availability.tour_name }}</p>
                                    </td>
                                    <td>
                                       <p>{{total_price}}{{sale_currency}}</p>
                                    </td>
                                    <td>
                                        {{# price_breakdown.price_row}}
                                        <p>{{.}}</p>
                                        {{/ price_breakdown.price_row}}
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary mb-1" name="postShowCustomerForms" form="goToCustomerForm_{{component_key}}">Select</button>
                                    </td>
                                </tr>
                                {{/ component}}
                            </tbody>
                        </table>
                </div>

            {{/ availability.available_components }}

            {{^ availability.available_components }}
            <div class="alert alert-warning mt-5" role="alert">
                No availability for the selected criteria
            </div>
            {{/ availability.available_components }}
            {{/ content }}
        </main>
    </div>
    {{> scripts}}
    {{> footer}}
</body>


</html>