{{> head}}

<body>
    {{> header}}
    <main>
        <div id="content" class="container text-center">
            {{# content }}
            <form action="tours" method="POST" id="selectChannel">
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" form="selectChannel"
                    name="postChannelId">
                    {{# channels }}
                    <option value="{{ channel_id }}" id="postChannelId_{{channel_id}}">{{ channel_name
                        }}</option>
                    {{/ channels }}
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div class="container text-center">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

                    {{# tours }}
                    <div class="card mt-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{ tour_name }}
                            </h5>
                            <p class="card-text">Tour Id: {{ tour_id }}</p>
                            <p class="card-text">Tour Code: {{ tour_code}}</p>
                            <p class="card-text">Channel Id: {{ channel_id}}</p>
                            <form action="singleTour" method="post">
                                <input type="hidden" name="postChannelId" value="{{ channel_id }}">
                                <input type="hidden" name="postTourId" value="{{ tour_id }}">
                                <button type="submit" value="postViewTour" class="btn btn-primary">
                                    View Tour</button>
                            </form>
                        </div>
                    </div>
                    {{/ tours }}
                </div>
            </div>

            {{^ tours }}
            <h1 class="display-3 mt-3">Select a Channel firstly</h1>
            {{/ tours }}


            {{/ content }}
        </div>
    </main>
    {{> scripts}}
    {{> footer}}
</body>

</html>